<!-- your code here -->
<div id="menu">
    <div class="wrap">
        <div class="menu_wrap">
            <div><img src="/images/header/logo-header.png"></div>
            <div><img src="/images/header/google-play-icon.png" srcset="/images/header/google-play-icon.png 1x, /images/header/google-play-icon@2.png 2x"><img src="/images/header/app-store-icon.png" srcset="/images/header/app-store-icon.png 1x, /images/header/app-store-icon@2.png 2x">
                <div class="btn_primary">Установить</div>
            </div>
        </div>
    </div>
</div>
<div id="investment">
    <div class="wrap">
        <div class="investment_wrap">
            <div>
                <div class="investment_title"><span>Инвестируйте легко</span> и получайте доход<br><span style="color: #0962E8;">+51,9%</span> в год *</div>
                <div class="investment_desc">Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.</div>
                <div class="btn_primary investment_btn_main">Установить приложение</div>
                <div class="investment_controls">
                    <div>
                        <div class="investment_btn"><img src="/images/header/google_play.jpg"></div>
                    </div>
                    <div>
                        <div class="investment_btn"><img src="/images/header/app_store.jpg"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="investment_bg_d"><img src="/images/header/investment.jpg?2"></div>
                <div class="investment_bg_m"><img src="/images/header/investment_m.jpg?1"></div>
            </div>
        </div>
    </div>
</div>
<div id="autoinvest">
    <div class="wrap" style="max-width: 1080px;">
        <div class="autoinvest_wrap">
            <div class="div"><img src="/images/header/auto-investigation-img-left.png" srcset="/images/header/auto-investigation-img-left.png 1x, /images/header/auto-investigation-img-left@2.png 2x"></div>
            <div class="div">
                <div class="autoinvest_title">Автоследование:<span> минимальные риски,</span> оптимальная доходность</div>
                <div class="autoinvest_desc">Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности. <br><br>Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.</div>
            </div>
        </div>
    </div>
</div>