<!-- your code here -->
<div class="wrap">
    <div class="header">
        <div class="header-top"><img class="header-top__logo" src="/images/header/logo-header.png">
            <div class="header-top__button"><a class="button-a" href="#">Установить</a><a href="#"><img class="header-top__button-google" src="/images/header/google-play-icon.png" srcset="/images/header/google-play-icon.png 1x, /images/header/google-play-icon@2.png 2x"></a><a href="#"><img class="header-top__button-app" src="/images/header/app-store-icon.png" srcset="/images/header/app-store-icon.png 1x, /images/header/app-store-icon@2.png 2x"></a></div>
        </div>
    </div>
    <section class="investment">
        <div class="investment__left">
            <h1>Инвестируйте легко<br><span>и получайте доход</span></h1>
            <h1>+51,9%<span class="year"> годовых</span><sup><small>*</small></sup></h1>
            <p class="investment__left-text">Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.</p>
            <div class="investment__left-three-btn"><a class="button-a" href="#">Установить приложение</a>
                <div class="two-btn"><a href="#"><img class="two-btn__left" src="/images/header/google-play.png" srcset="/images/header/google-play.png 1x, /images/header/google-play@2.png 2x"></a><a href="#"><img class="two-btn__right" src="/images/header/app-store.png" srcset="/images/header/app-store.png 1x, /images/header/app-store@2.png 2x"></a></div>
            </div>
        </div>
        <div class="investment__right">
            <div class="investment__right_layers">
                <div class="investment__right_layers-one">
                    <div class="investment__right_layers-one_block"><img class="investment__right_layers-one_img" src="/images/header/head-right-round.png" srcset="/images/header/head-right-round.png 1x, /images/header/head-right-round@2.png 2x"></div>
                </div>
                <div class="investment__right_layers-two">
                    <div class="investment__right_layers-two_block"><img class="investment__right_layers-two_img" src="/images/header/head-right-man.png" srcset="/images/header/head-right-man.png 1x, /images/header/head-right-man@2.png 2x"></div>
                </div>
                <div class="investment__right_layers-three">
                    <div class="right_layers-three_left">
                        <div class="block-three-img">
                            <div class="block-three-img__text">
                                <h1>60 мин</h1>
                                <p>Сэкономленного времени в день</p>
                            </div>
                            <div class="block-three-img__icon"><img src="/images/header/head-right-timer.png" srcset="/images/header/head-right-timer.png 1x, /images/header/head-right-timer@2.png 2x"></div>
                        </div>
                    </div>
                    <div class="investment__right_layers-two_block"><img class="investment__right_layers-two_img" src="/images/header/head-right-man.png" srcset="/images/header/head-right-man.png 1x, /images/header/head-right-man@2.png 2x"></div>
                    <!-- ftden45-->
                    <div class="right_layers-three_center">
                        <div class="block-three-img">
                            <div class="block-three-img__text">
                                <h1>от 0,0₽</h1>
                                <p>Платите комиссию только с прибыли</p>
                            </div>
                            <div class="block-three-img__icon"><img src="/images/header/head-right-money.png" srcset="/images/header/head-right-money.png 1x, /images/header/head-right-money@2.png 2x"></div>
                        </div>
                    </div>
                    <div class="right_layers-three_right">
                        <div class="block-three-img">
                            <div class="block-three-img__text">
                                <h1>51,9%</h1>
                                <p>Средняя годовая доходность</p>
                            </div>
                            <div class="block-three-img__icon"><img src="/images/header/head-right-persent.png" srcset="/images/header/head-right-persent.png 1x, /images/header/head-right-persent@2.png 2x"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="auto-investigation">
        <div class="auto-investigation__left"><img src="/images/header/auto-investigation-img-left.png" srcset="/images/header/auto-investigation-img-left.png 1x, /images/header/auto-investigation-img-left@2.png 2x"></div>
        <div class="auto-investigation__right">
            <h1>Автоследование:<span> минимальные риски,</span> оптимальная доходность</h1>
            <p>Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности. <br>Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.</p>
        </div>
    </section>
</div>